<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Test_Assignment</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DatabaseConnection</display-name>
    <servlet-name>DatabaseConnection</servlet-name>
    <servlet-class>com.info.DatabaseConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatabaseConnection</servlet-name>
    <url-pattern>/DatabaseConnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>com.info.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/code1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>View</display-name>
    <servlet-name>View</servlet-name>
    <servlet-class>com.info.View</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>View</servlet-name>
    <url-pattern>/View</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewTable</display-name>
    <servlet-name>ViewTable</servlet-name>
    <servlet-class>com.info.ViewTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTable</servlet-name>
    <url-pattern>/code2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>com.info.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditServlet</display-name>
    <servlet-name>EditServlet</servlet-name>
    <servlet-class>com.info.EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServlet</servlet-name>
    <url-pattern>/EditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUserServlet</display-name>
    <servlet-name>EditUserServlet</servlet-name>
    <servlet-class>com.info.EditUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserServlet</servlet-name>
    <url-pattern>/EditUserServlet</url-pattern>
  </servlet-mapping>
</web-app>